---
interface Props {
  icon: any; // SVG content
  title: string;
  description: string;
  href: string;
}

const { icon, title, description, href } = Astro.props;
---

<div class="group relative flex rounded-2xl bg-zinc-50 transition-shadow hover:shadow-md hover:shadow-zinc-900/5 dark:bg-white/2.5 dark:hover:shadow-black/5">
  <div class="pointer-events-none">
    <div class="absolute inset-0 rounded-2xl transition duration-300 [mask-image:linear-gradient(white,transparent)] group-hover:opacity-50">
      <svg aria-hidden="true" class="absolute inset-x-0 inset-y-[-30%] h-[160%] w-full skew-y-[-18deg] fill-black/[0.02] stroke-black/5 dark:fill-white/1 dark:stroke-white/2.5">
        <defs>
          <pattern id={crypto.randomUUID()} width="72" height="56" patternUnits="userSpaceOnUse" x="50%" y="16">
            <path d="M.5 56V.5H72" fill="none"></path>
          </pattern>
        </defs>
        <rect width="100%" height="100%" stroke-width="0" fill="url(#:Rkq5jsqja:)"></rect>
        <svg x="50%" y="16" class="overflow-visible">
          <rect stroke-width="0" width="73" height="57" x="0" y="56"></rect>
          <rect stroke-width="0" width="73" height="57" x="72" y="168"></rect>
        </svg>
      </svg>
    </div>
    <div class="absolute inset-0 rounded-2xl bg-linear-to-r from-[#D7EDEA] to-[#F4FBDF] opacity-0 transition duration-300 group-hover:opacity-100 dark:from-[#202D2E] dark:to-[#303428]" style="mask-image: radial-gradient(180px at 130.5px 135px, white, transparent);"></div>
    <div class="absolute inset-0 rounded-2xl opacity-0 mix-blend-overlay transition duration-300 group-hover:opacity-100" style="mask-image: radial-gradient(180px at 130.5px 135px, white, transparent);">
      <svg aria-hidden="true" class="absolute inset-x-0 inset-y-[-30%] h-[160%] w-full skew-y-[-18deg] fill-black/50 stroke-black/70 dark:fill-white/2.5 dark:stroke-white/10">
        <defs>
          <pattern id={crypto.randomUUID()} width="72" height="56" patternUnits="userSpaceOnUse" x="50%" y="16">
            <path d="M.5 56V.5H72" fill="none"></path>
          </pattern>
        </defs>
        <rect width="100%" height="100%" stroke-width="0" fill="url(#:R5kq5jsqja:)"></rect>
        <svg x="50%" y="16" class="overflow-visible">
          <rect stroke-width="0" width="73" height="57" x="0" y="56"></rect>
          <rect stroke-width="0" width="73" height="57" x="72" y="168"></rect>
        </svg>
      </svg>
    </div>
  </div>
  <div class="absolute inset-0 rounded-2xl ring-1 ring-zinc-900/7.5 ring-inset group-hover:ring-zinc-900/10 dark:ring-white/10 dark:group-hover:ring-white/20"></div>
  <div class="relative rounded-2xl px-4 pt-16 pb-4">
    <div class="flex h-7 w-7 items-center justify-center rounded-full bg-zinc-900/5 ring-1 ring-zinc-900/25 backdrop-blur-[2px] transition duration-300 group-hover:bg-white/50 group-hover:ring-zinc-900/25 dark:bg-white/7.5 dark:ring-white/15 dark:group-hover:bg-emerald-300/10 dark:group-hover:ring-emerald-400">
      <Fragment set:html={icon} />
    </div>
    <h3 class="mt-4 text-sm/7 font-semibold text-zinc-900 dark:text-white">
      <a href={href}>
        <span class="absolute inset-0 rounded-2xl"></span>
        {title}
      </a>
    </h3>
    <p class="mt-1 text-sm text-zinc-600 dark:text-zinc-400">
      {description}
    </p>
  </div>
</div> 